* {
  font-family: 'Outfit';
  color: white;
  font-weight: 700;
}

.navMain {
  display: flex;
  /* position: fixed; */
  /* border: 2px solid blue; */

}




.icon2 {
  display: none;
}

.nav {
  display: flex;
  /* border: 2px solid black; */
  margin-left: 38vw;
  margin-top: 1.5vw;

}

.icon {
  display: none;
}

.navList {
  display: flex;
  list-style: none;
  font-size: 1.25rem;
}

.navList>li {
  padding: 1rem;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 0.7rem;
}

#btn {
  display: none;
}


@media screen and (max-width: 600px) {

  .navMain {
    background-color: rgba(128, 32, 173, 1);
  }

  .navList {
    display: none;
    width: 100%;
    height: 100%;
  }

  .nav {
    margin-left: 0;
  }

  .icon {
    display: block;
    margin-left: 25rem;
    font-size: 3rem;
    margin-top: 1rem;
    position: absolute;

  }

  .icon2 {
    display: none;
    margin-left: 25rem;
    font-size: 3rem;
    margin-top: 1rem;
    position: absolute;
  }

  .icon:hover {
    cursor: pointer;
  }

  #btn {
    display: none;
  }

  .navList ul {
    margin-right: 0;
    float: left;

  }

  .navList ul li {
    display: block;
    width: 100%;
height: 100%;
  }


  [id^=btn]:checked+.navList {

    overflow-y: hidden;
    display: block;
    margin-top: 5rem;
    width: 0%;
    font-size: 3rem;
    padding-top: 2rem;
width: 100%;
height: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(128, 32, 173, 0);
    background-color: rgba(128, 32, 173, 1);
    transition: 1s;
  }

}